<script>
  (function() {
  var HOST = "https://d2qhnapkdihrdq.cloudfront.net/"

  addEventListener("trix-attachment-add", function(event) {
    if (event.attachment.file) {
      uploadFileAttachment(event.attachment)
    }
  })

  function uploadFileAttachment(attachment) {
    uploadFile(attachment.file, setProgress, setAttributes)

    function setProgress(progress) {
      attachment.setUploadProgress(progress)
    }

    function setAttributes(attributes) {
      attachment.setAttributes(attributes)
    }
  }

  function uploadFile(file, progressCallback, successCallback) {
    var key = createStorageKey(file)
    var formData = createFormData(key, file)
    var xhr = new XMLHttpRequest()

    xhr.open("POST", HOST, true)

    xhr.upload.addEventListener("progress", function(event) {
      var progress = event.loaded / event.total * 100
      progressCallback(progress)
    })

    xhr.addEventListener("load", function(event) {
      if (xhr.status == 204) {
        var attributes = {
          url: HOST + key,
          href: HOST + key + "?content-disposition=attachment"
        }
        successCallback(attributes)
      }
    })

    xhr.send(formData)
  }

  function createStorageKey(file) {
    var date = new Date()
    var day = date.toISOString().slice(0,10)
    var name = date.getTime() + "-" + file.name
    return [ "tmp", day, name ].join("/")
  }

  function createFormData(key, file) {
    var data = new FormData()
    data.append("key", key)
    data.append("Content-Type", file.type)
    data.append("file", file)
    return data
  }
})();
</script>
<div class="row">
  <div class="col-xs-12">
    <h3><%= @repository.display_or_name %></h3>
    <hr>
    <p>
      <% if @repository.prompt.present? && @repository.prompt != "" %>
          <%= raw markdown @repository.prompt %>
      <% else %>
          Please enter your bug report or feature request, then click 'Submit'. If you're reporting a bug, try to
          include as many details as possible about what you were doing when the bug occurred- a detailed report makes a
          bug much easier to track down.
      <% end %>
    </p>
    <hr>
    <%= form_tag(repository_public_path(@repository.holder_name, @repository.name), method: :post) do %>
        <legend><%= t('submit_form.title') %></legend>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <%= label :name, t('submit_form.label.name') %>
              <%= text_field_tag :name, @name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label :email, t('submit_form.label.email') %>
              <%= email_field_tag :email, @email, class: 'form-control', :required => @repository.include_submitter_email %>
            </div>

            <div class="form-group">
              <%= label :email_public, t('submit_form.label.email_public') %>
              <%= check_box_tag :email_public, @email_public, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label_tag :priority do %>
                Priority Level: P3, P2, or P1. See <a href='https://docs.google.com/document/d/1slxrnvBVNzF2w5HnuSE0iGn4F0KAtBIN9dDnZ5_UHzo/edit?ts=5c5b08a2' target='_new'>this guide</a> for more information.
              <% end %>
              <%= select_tag :priority, options_for_select([[:p3, :p3], [:p2, :p2], [:p1, :p1]]), class: 'form-control' %>
            </div>

            <% if @repository.allow_issue_title %>
                <div class="form-group">
                  <%= label :issue_title, t('submit_form.label.issue_title') %>
                  <%= text_field_tag :issue_title, @issue_title, class: 'form-control' %>
                </div>
            <% end %>

            <div class="form-group">
              <%= label :details, t('submit_form.label.details') %>
              <p>Note: Images should not contain Personally Identifiable Information of guests! If necessary, please only input that information as text or ask the tech team how to securely transmit it.</p>
              <%= hidden_field :details, @details, class: "form-control", id: 'details' %>
              <trix-editor input="details"></trix-editor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <p><%= t('submit_form.captcha_message') %></p>
            <%= show_simple_captcha(label: "") %><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= submit_tag t('submit_form.label.submit'), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>